:root{
  --darkred: rgb(139, 27, 63);
  --orange: rgb(226, 88, 41);
  --black: rgba(0, 0, 0, 0.726);
}

*{
  box-sizing: border-box;
  padding: 0pc;
  margin: 0px; 
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 600;
}

a{
  text-decoration: none;
}

.topbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5vw 2vw;
  color: var(--black);
  font-size: 1.3vw;
}

.logo-img{
  width: 8vw;
}

.topbar-right{
  text-align: right;
}

.h3{
  font-weight: bolder;
  margin: 0vw 1vw;
  color: var(--orange);
}

.navbar{
  background-color: var(--orange);
  padding: 1vw; 
  display: flex;
  justify-content: center;
  gap: 3vw;
  position: sticky;
  top: 0px;
}

.navbar a{
  color: white;
  letter-spacing: 1px;
  font-size: 1.3vw;
}

.banner{
  width: 100%;
}

.slider-image{
  width: 80%; 
}

.home-content{
  padding: 1vw 2vw;
  text-align: justify;
}

.home-content h1{
  text-align: center;
  letter-spacing: 2px;
  padding: 2vw;
}

.home-dynamic{
  padding: 2vw;
  text-align: center;

}

.home-card-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 2vw;
}

.state-cards{
  width: 30vw;
  margin: 2vw auto;
}

.state-cards h1{
 color: var(--black);
 font-size: 2vw ;
}

.state-cards img{
  width: 100%;
}

.dynamic-container{

}

.dynamic-div{

}

.state-image-dynamic{
  width: 100%;
}

.state-name-dynamic{
  text-align: center;
}

.dynamic-cities{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.city-card{
  width: 40vw;
  text-align: center;
}

.city-image , .places-image{
  width: 100%;
  height: 20vw;
}

.places{
  margin: 1vw auto;
}

.places-image{
  width: 100%;
}

.indian-tourism-banner{
  width: 100%;
  height: 30vw;
}

.dynamic-cards-div{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 1vw auto;
  text-align: center;
}

.State-Image, .cities-image{
  width: 100%;
}

.indian-tourism-card, .indian-tourism-cities{
  width: 34vw;
  border-bottom: 2px solid black;
  margin: 1vw auto;
}

.packages-flex{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  gap: 2vw;
  margin: 2vw auto;
}

.flex-item{
  width: 20vw;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.216);
  padding: 1vw;
}

.card-image{
  width: 100%;
  height: 14vw;
}

.places-flex{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 2vw;
}

.places-cards{
  width: 30vw;
  border: 1px solid black;
}

.places-cards h3{
  background-color: var(--darkred);
  color: white;
  padding: 0.5vw;
  text-align: center;
}

.places-cards p{
  border-bottom: 1px solid black;
  padding: 0.5vw;
}

.place-state-image{
  width: 100%;
  height: 20vw;
}

.contact-us{
  width: 40vw;
  margin: 2vw auto;
  padding: 2vw;
}

.contact-us h2{
  text-align: center;
  padding: 2vw;
  font-size: 3vw;
  color: white;
  background-color: var(--orange);
}

label, input, textarea{
  margin: 0.5vw;
  width: 100%;
  display: block;
  box-sizing: border-box;
  font-size: 2vw;
  padding: 1vw 0vw;
}

input,textarea{
  border: none;
  border: 1px solid black;
}

.submit-btn{
  border: none;
  /* display: block; */
  float: right;
  margin: 1vw auto;
  padding: 1vw;
  font-size: 2vw;
  letter-spacing: 2px;
  color: white;
  background-color: rgba(36, 36, 253, 0.836);
}

.login-div{
  width: 40vw;
}

.offer-flex{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 2vw;
}

.flex-item{
  width: 30vw; 
}

.flex-image{
  width: 100%; 
}

.offers{
  padding: 2vw;
}

.offers h2{
  text-align: center;
  margin: 2vw auto;
  border: 1px solid gray;
  padding: 2vw;
}

.offers p{
  text-align: justify;
  letter-spacing: 1px;
}