:root{
  --darkred: rgb(139, 27, 63);
  --orange: rgb(226, 88, 41);
  --black: rgba(0, 0, 0, 0.726);
}

*{
  box-sizing: border-box;
  padding: 0pc;
  margin: 0px; 
}

a{
  text-decoration: none;
}

.topbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5vw 2vw;
  color: var(--black);
  font-size: 1.3vw;
}

.logo-img{
  width: 8vw;
}

.topbar-right{
  text-align: right;
}

.h3{
  font-weight: bolder;
  margin: 0vw 1vw;
  color: var(--orange);
}

.navbar{
  background-color: var(--orange);
  padding: 1vw; 
  z-index: -1;
  display: flex;
  justify-content: center;
  gap: 3vw;
  position: sticky;
  top: 0px;
}

.navbar a{
  color: white;
  letter-spacing: 1px;
  font-size: 1.3vw;
}

.banner{
  width: 100%;
}

.slider-image{
  width: 80%; 
}