:root{
  --darkred: rgb(139, 27, 63);
  --orange: rgb(226, 88, 41);
  --black: rgba(0, 0, 0, 0.726);
}

*{
  box-sizing: border-box;
  padding: 0pc;
  margin: 0px; 
}

a{
  text-decoration: none;
}

.topbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5vw 2vw;
  color: var(--black);
  font-size: 1.3vw;
}

.logo-img{
  width: 8vw;
}

.topbar-right{
  text-align: right;
}

.h3{
  font-weight: bolder;
  margin: 0vw 1vw;
  color: var(--orange);
}

.navbar{
  background-color: var(--orange);
  padding: 1vw; 
  display: flex;
  justify-content: center;
  gap: 3vw;
  position: sticky;
  top: 0px;
}

.navbar a{
  color: white;
  letter-spacing: 1px;
  font-size: 1.3vw;
}

.banner{
  width: 100%;
}

.slider-image{
  width: 80%; 
}

.home-content{
  padding: 1vw 2vw;
  text-align: justify;
}

.home-dynamic{
  padding: 2vw;
  text-align: center;

}

.home-card-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 2vw;
}

.state-cards{
  width: 30vw;
  border: 1px solid red;
}

.state-cards img{
  width: 100%;
}

.dynamic-container{
  border: 1px solid red;
}

.dynamic-div{

}

.state-image-dynamic{
  width: 100%;
}

.state-name-dynamic{
  text-align: center;
}

.dynamic-cities{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid red;  
}

.city-card{
  width: 40vw;
  text-align: center;
  /* margin: 1vw auto; */
}

.city-image{
  width: 100%;
}

.places{
  border: 1px solid red;
  margin: 1vw auto;
}

.places-image{
  border: 1px solid red;
  width: 100%;
}